.active:hover {
    color:lightblue;
    cursor: pointer;
}

.container {
    display: grid;
    position: fixed;
    top: auto;
    z-index: auto;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    cursor: pointer;
    scroll-snap-type: y mandatory;
    list-style: none;
  
}
